:root {
  --text-color: #384a51;
  --text-emphasize-color: #456682;
  --banner-color: #f9f9f9;
  --button-text-color: #ffffff;
  --button-pine-color: #456682;
  --button-seaweed-color: #384a51;
  --divider-grey-color: #e8e8e8;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--text-color);
  overflow-wrap: break-word;
  /* Do not use default window margins. */
  margin: 0 !important;
  padding: 0 !important;
}

button {
  font-family: inherit;
}

img {
  /* Prevents long press to save the image */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.divider {
  height: 1px;
  background-color: var(--divider-grey-color);
  margin-top: 49px;
  margin-bottom: 54px;
}

#main-container {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#main-message-container {
  display: flex;
  justify-content: center;
  margin-left: 56px;
  margin-right: 56px;
}

#main-message h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.36;
  color: var(--button-seaweed-color);
  margin-top: 0;
  margin-bottom: 0;
}

#main-message p {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 246px;
}

#divider {
  margin-left: auto;
  margin-right: auto;
  width: 105px;
}

#graphics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#graphic-div {
  display: flex;
  justify-content: center;
  width: 292.5px;
  height: 261.9px;
  max-height: max(30vh, 30vw);
}

#go-logo-div {
  margin-top: 35.1px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 960px) {
  body {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .divider {
    margin-bottom: 84px;
  }

  #main-container {
    margin-top: 150px;
    margin-bottom: 24px;
  }

  #main-message h3 {
    font-size: 28px;
  }

  #main-message p {
    font-size: 16px;
    width: 295px;
  }

  #button-div button {
    width: 211px;
  }
}
