<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport".card="width=device-width, initial-scale=1.0">
        <meta http-equiv=.card-Language".card="en">
        <meta http-equiv="X-UA-Compatible".card="ie=edge">
        <meta charset="UTF-8">
        <title>Go.gov.sg</title>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <style>
            body {
                position: relative;
                -webkit-font-smoothing: antialiased;
                font-family: 'IBM Plex Sans', sans-serif;
                color: black;
                overflow-wrap: break-word;
            }

            #top-container {
                height: 50vh;
                background-color: #f9f9f9;
                text-align: center;
            }

            #bottom-container {
                height: 50vh;
                background-color: #384a51;
            }

            #main-message {
                display: inline-block;
                margin-top: 15vh;
                height: auto;
                width: 400px;
            }

            #main-message p {
                line-height: 20px;
                font-size: 16px;
            }

            #main-message h2 {
                font-weight: 500;
                line-height: 20px;
                font-size: 28px;
            }

			#loader-circle {
				margin: 42px 0px;
			}

			#loader-circle img {
				animation: rotation 3s linear infinite;
				width: 24px;
				height: 24px;
			}

            #card {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -286px;
                margin-top: -60px;
                width: 500px;
                height: 120px;
                text-align: center;
                background-color: white;
                border-radius: 10px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                padding: 24px 36px;
            }

            #card h3 {
                font-size: 12px;
                line-height: 1.5;
                color: #384a51;
            }

            #card p {
                font-size: 14px;
                line-height: 1.43;
                font-weight: 200;
            }

			@keyframes rotation {
				from {
					transform: rotate(0deg);
				}

				to {
					transform: rotate(359deg);
				}
			}

        </style>
    </head>

    <body>
        <div id="top-container">
            <div id="main-message">
                <p>Check your browser to make sure you're visiting</p>
                <h2><b>go.gov.sg/<%= shortUrl _%></b></h2>
            </div>
			<!-- loader circle -->
			<div id="loader-circle">
				<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACiUlEQVRoQ+2ZvY8OURTGf2+HahNR6VfWR6UlUaGybE9J4T8giK/9D7agRL2LaldFaFW+Qk8jQoVSns1OMo65M+e8c6/JvHlvO/eee57zdc95ZsLI12Tk+jMHMLQHS3ngKHANOLkD8BlwG3idG3AJAFL+JbDbKPsLOJ4bRAkAj4HlhKWfAGdzeqEEgJ8N1q90lhf2DAlgEVgCvgGvEopMC+AYsBf4AHzygox44AFwvib4HXAZeGEui4bQCWANOFiT8xC44AHhBWCVr2T/AA4Dn2uXRZJ4P/AWWGhQ1gXCA0Bh87HFGreAG+a7t4zeBK63yD7QFU4eAKooCovU2gBWPO5u2LMOnGs5q4qlypVcHgBKLtX11LoPXJoSwD3gYstZvRupYrF9zANA+5Sw9SSr33ka2JoSwClgM3H2PXCoS64XgCqFQsUm2ypwteuSju93gStmj4qDQut5l2wvAMlRxZC7jwBfAcXvtJa3eskTyqN9wBtAYVmvbL1yoMsIg36PeGBQRVOXzywAPUR6YOr9vB6s7P18wrLeh7CxjOqwau8uI/w3oDehNIhIK9IIQC/fmYRlnrb0+rlyJNQMNuWAenZr/Uo5ecFOWrkUr+SE2vGZBDD6EBp9EisWR11GcydlUXkz+xIXtVpO4REPlGyn1bLYdvqLB6gXQMmB5k7DUPR9Z6CxlM0/mLwAhhgpdacom9blATD6oX70tEpJYkszhv4jpFYWYkvCR00tVtaxIMTbiNy11EeonweayN1HhkjOxkqUpNfFwlX0ehsX+xcYTxXqqmT2e2ggiQq3+0sAiIZQLwwlAISG8l7aB8jd6D1uWiQq+H+EUF+dQudLhFBIgb6b5wD6WrDv+T+lzKIxyTtIrgAAAABJRU5ErkJggg=="/>
			</div>
            <div id="card">
                <h3>You will be redirected to your requested content in a few seconds:</h3>
                <p><%= longUrl _%></p>
            </div>

        </div>
        <div id="bottom-container">

        </div>
        <script>
            setTimeout(function() {
                window.location = '<%- longUrl %>'
            }, 3000)
        </script>
    </body>
</html>

