option_settings:
 - namespace: aws:elasticbeanstalk:application:environment
   option_name: SGID_CLIENT_ID
   value: '{{resolve:ssm:STAGING_SGID_CLIENT_ID}}'


commands:
  01-create-env:
    command: "/tmp/create-env.sh"

files:
  "/tmp/create-env.sh":
      mode: "000755"
      content : |
        #!/bin/bash
        ENV_TYPE=$(/opt/elasticbeanstalk/bin/get-config environment -k SSM_PREFIX)

        ENV_VARS=("SGID_CLIENT_ID")

        echo "Set AWS region"
        aws configure set default.region ap-southeast-1

        for ENV_VAR in "${ENV_VARS[@]}"; do
            echo "Running for this ${ENV_TYPE}"
            echo "Fetching ${ENV_VAR} from SSM"
            VALUE=$(aws ssm get-parameter --name "${ENV_TYPE}_${ENV_VAR}" --with-decryption --query "Parameter.Value" --output text)
            echo "${ENV_VAR}=${VALUE}"
            export "${ENV_VAR}=${VALUE}" 
            echo "Saved ${ENV_VAR}"
        done
