# loads SGID environment variables to a .env file from SSM 

commands:
  01-create-env:
    command: "/tmp/create-env.sh"

files:
  "/tmp/create-env.sh":
      mode: "000755"
      content : |
        #!/bin/bash
        ENV_NAME=$(/opt/elasticbeanstalk/bin/get-config environment -k SSM_PREFIX)

        ENV_VARS=("SGID_CLIENT_ID" "SGID_CLIENT_SECRET" "SGID_PRIVATE_KEY")

        echo "Set AWS region"
        aws configure set default.region ap-southeast-1

        TARGET_DIR=/etc/gogovsg

        echo "Checking if ${TARGET_DIR} exists..."
        if [ ! -d ${TARGET_DIR} ]; then
            echo "Creating directory ${TARGET_DIR} ..."
            mkdir -p ${TARGET_DIR}
            if [ $? -ne 0 ]; then
                echo 'ERROR: Directory creation failed!'
                exit 1
            fi
        else
            echo "Directory ${TARGET_DIR} already exists!"
        fi

        echo "Creating config for ${ENV_NAME} in ${AWS_REGION}"

        for ENV_VAR in "${ENV_VARS[@]}"; do
            echo "Running for this ${ENV_NAME}"
            echo "Fetching ${ENV_VAR} from SSM"
            VALUE=$(aws ssm get-parameter --name "${ENV_NAME}_${ENV_VAR}" --with-decryption --query "Parameter.Value" --output text)
            echo "${ENV_VAR}=${VALUE}" >> $TARGET_DIR/.env
            echo "Saved ${ENV_VAR}"
        done
