body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-wrap: break-word;
  /* Do not use default window margins. */
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  min-height: 100vh;
  line-height: 1.5;
  background: #f9f9f9;
}

.masthead-root {
  padding: 6px 30px;
}

.sgds-masthead {
  position: relative;
  background-color: #f0f0f0;
  height: auto;
  font-size: 14px
}

.sgds-masthead .sgds-icon {
  font-size: 20px
}

.sgds-masthead a {
  color: #484848;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sgds-masthead .is-text {
  margin-left: 4px;
}

.sgds-masthead a:hover {
  color: #151515
}

#main-message p {
  line-height: 2rem;
}

.top-half {
  background: #384a51;
  height: 50vh;
  position: relative;
}

.top-half-content {
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: -56px;
  left: 50%;
  transform: translateX(-50%);
}

.top-half-content h3 {
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 6px;
  font-size: 2rem;
  line-height: 2.8125rem;
}

.top-half-content a {
  display: block;
  color: white;
  font-size: 16px;
  margin-bottom: 35px;
  text-decoration: none;
}

.browser-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/browser.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 100%;
  height: 140px;
  text-align: left;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
}

.links {
  width: 100%;
  height: 140px;
  padding-top: 75px;
  padding-left: 165px;
  color: #000000;
  box-sizing: border-box;
}

.bottom-half {
  text-align: center;
  min-height: 250px;
}

.bottom-half > p {
  margin-top: 45px;
  font-size: 13px;
}

#skip {
  padding-top: 50px;
  opacity: 1;
  display: block;
  cursor: pointer;
}

#skip > span {
  font-size: 13px;
  color: #456682;
  text-decoration: underline;
}

.footer {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.footer p {
  color: #bbbbbb;
  font-size: 13px;
  line-height: 13px;
  margin: 0;
}

.mobile-break {
  display: none;
}

#url {
  font-size: 13px;
  display: inline;
}

#logo {
  padding-bottom: 20px;
}

#spinner {
  height: 10px;
}

@media only screen and (max-width: 768px) {
  .links {
    padding-top: 73px;
    padding-left: 148px;
  }
}

@media only screen and (max-width: 512px) {
  .top-half {
    height: 35vh;
  }

  .top-half-content {
    bottom: -58px;
    width: 80%;
  }

  .top-half-content h3 {
    margin-bottom: 12px;
    font-size: 22px;
  }

  .top-half-content a {
    font-size: 14px;
    margin-bottom: 0;
  }

  .browser-image {
    width: 300px;
  }

  .links {
    padding-top: 73px;
    padding-left: 115px;
    font-size: 12px;
    height: 120px;
    box-sizing: border-box;
  }

  .top-half-content a {
    line-height: 20px;
  }

  .footer {
    bottom: 30px;
  }

  .footer img {
    margin-bottom: 24px;
  }

  .mobile-break {
    display: block;
  }
}

@media only screen and (max-width: 374px) {
  .top-half-content {
    width: 100%;
  }

  .top-half-content h3 {
    margin-bottom: 0;
    margin-left: 8px;
    margin-right: 8px;
  }

  .top-half-content a {
    margin-left: 8px;
    margin-right: 8px;
  }

  .browser-image {
    width: 300px;
  }

  .links {
    padding-top: 73px;
    padding-left: 115px;
    font-size: 12px;
    box-sizing: border-box;
  }
}
