:root {
    --notfound-text-color: #384a51;
    --notfound-text-emphasize-color: #456682;
    --notfound-banner-color: #f9f9f9;
    --notfound-button-text-color: #ffffff;
    --notfound-button-pine-color: #456682;
    --notfound-button-seaweed-color: #384a51;
    --notfound-divider-grey-color: #e8e8e8;

    --transition-body-color: #f9f9f9;
    --transition-top-half-color: #384a51;
    --transition-top-half-content-color: #ffffff;
    --transition-top-half-content-link-color: white;
    --transition-links-color: #000000;
    --transition-skip-span-color: #456682;
    --transition-footer-p-color: #bbbbbb;
  }