<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta charset="UTF-8">
    <title>Go.gov.sg: Page not found</title>
    <base href="~/" />
    <link href="/assets/shared/shared-styles.css" rel="stylesheet">
    <link href="/assets/shared/colours.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="/assets/not-found-page/styles/not-found-page.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="sgds-masthead masthead-root">
        <a href="https://www.gov.sg" target="_blank" rel=”noreferrer noopener”>
            <img src="/assets/lion-head-symbol.svg" />
            <span class="is-text">A Singapore Government Agency Website</span>
        </a>
    </div>
    <main id="main-container">
        <div id="main-message-container">
            <div id="main-message">
                <h3>This short link is not available.</h3>
                <p>For further assistance, please contact the agency that gave you the short link.</p>
            </div>
        </div>
        <div id="divider" class="divider"></div>
        <div id="graphics-container">
            <div id="graphic-div">
                <img src="/assets/not-found-page/images/not-found-graphic.svg" draggable="false" />
            </div>
            <div id="go-logo-div">
                <!-- go logo -->
                <img src="/assets/not-found-page/icons/go-logo.svg" draggable="false" />
            </div>
        </div>
    </main>
</body>

</html>
