<div class="sgds-masthead masthead-root">
    <a href="https://www.gov.sg" target="_blank" rel=”noreferrer noopener”>
        <img src="/assets/lion-head-symbol.svg" />
        <span class="is-text">A Singapore Government Agency Website</span>
    </a>
</div>