<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" .card="width=device-width, initial-scale=1.0">
    <meta http-equiv=.card-Language".card="en">
    <meta http-equiv="X-UA-Compatible" .card="ie=edge">
    <meta charset="UTF-8">
    <title>Go.gov.sg</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="./assets/transition-page/styles/transition-page.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
    <div id="page-banner">
        <div id="page-banner-content">
            <!-- banner info icon -->
            <img src="./assets/transition-page/icons/icon-info.svg" />
            <p>You will only be shown this page the first time you access this short link.</p>
        </div>
    </div>
    <main id="main-container">
        <div id="main-message">
            <!-- go logo -->
            <img src="./assets/transition-page/icons/go-logo.svg" />
            <div class="divider"></div>
            <div class="inline-text">
                <h3>Check your browser to make sure you’re accessing a&nbsp;</h3>
                <h3 class="emphasize-text-color">gov.sg</h3>
                <h3>&nbsp;link.</h3>
            </div>
            <div class="inline-text">
                <p>You are visiting a page at&nbsp;</p>
                <p class="semi-bold-text"><%= longUrl _%></p>
                <p>.</p>
            </div>
            <button onclick="proceedToDestination()">
                <div id="main-button-content">
                    <p>Proceed to your page</p>
                    <!-- button right arrow icon -->
                    <img src="./assets/transition-page/icons/icon-arrow-right.svg" />
                </div>
            </button>
        </div>
    </main>
    <script>
        function proceedToDestination() {
            window.location = '<%- longUrl %>'
        }
    </script>
</body>

</html>