body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-wrap: break-word;
  /* Do not use default window margins. */
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  min-height: 100vh;
  background: var(--transition-body-color);
}

.top-half {
  background: var(--transition-top-half-color) ;
  min-height: 50vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.top-half-content {
  text-align: center;
  color: var(--transition-top-half-content-color);
  padding: 0 16px 115px;
}

.top-half-content h3 {
  font-weight: 600;
}

.top-half-content p {
  font-size: 16px;
}

.top-half-content a {
  display: block;
  color: var(--transition-top-half-content-link-color);
}

#title {
  margin-bottom: 16px;
  margin-top: 8px;
}

#prompt {
  margin-bottom: 16px;
}

#countdown {
  font-size: 13px;
  display: inline;
}

#url-preview {
  font-size: 13px;
  cursor: pointer;
  display: inline;
  text-decoration: underline;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break:  break-word;
  hyphens: auto;
}

.browser-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 140px;
  position: relative;
  top: -95px;
}

.links {
  color: var(--transition-links-color);
  position: relative;
  top: 17px;
  left: -16px;
}

.bottom-half {
  text-align: center;
  min-height: 290px;
  padding: 0 8px; 
  margin-top: -145px;
}

.bottom-half > p {
  margin-top: 45px;
  font-size: 13px;
}

#url {
  font-size: 13px;
  cursor: pointer;
  display: inline-block;
  margin-top: 50px;
  color: var(--transition-skip-span-color);
}

#url > span {
  text-decoration: underline;
}

#url:hover {
   color: var(--transition-top-half-content-link-hover-color);
}

#more {
  margin-top: 35px;
  opacity: 1;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  color: black;
}

#more:hover {
  color: var(--transition-top-half-content-link-hover-color);
}

.footer {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.footer p {
  color: var(--transition-footer-p-color);
  font-size: 13px;
  line-height: 13px;
}

.mobile-break {
  display: none;
}

#logo {
  padding-bottom: 20px;
}

#spinner {
  height: 10px;
}

@media only screen and (max-width: 512px) {
  .top-half {
    min-height: 35vh;
  }

  .top-half-content {
    padding-bottom: 82px;
  }

  .top-half-content h3 {
    font-size: 22px;
    line-height: 1.5;
  }
  
  .top-half-content p {
    font-size: 14px;
  }

  .top-half-content a {
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 20px;
  }

  #title {
    margin-bottom: 12px;
    margin-top: 22px;
  }

  #prompt {
    margin-bottom: 6px;
  }
  
  #countdown {
    margin-bottom: 0;
  }
  
  .browser-image {
    width: 300px;
    margin-left: auto; 
    margin-right: auto;
    top: -90px;
  }

  .links {
    font-size: 12px;
    top: 12px;
    left: -8px;
  }
  
  #url {
    margin-bottom: 0;
  }
  
  .footer {
    bottom: 30px;
  }

  .footer img {
    margin-bottom: 24px;
  }

  .mobile-break {
    display: block;
  }
}

@media only screen and (max-width: 374px) {
  .top-half-content h3 {
    font-size: 22px;
    line-height: 1.5;
  }
}
